

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      /* 可以设置不同的进入和离开动画 */
      /* 设置持续时间和动画函数 */
      .slide-fade-enter-active {
        transition: all .3s ease;
      }
      .slide-fade-leave-active {
        transition: all .8s linear;
      }
      .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active for below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <transition name="slide-fade">
        <p v-if="show">Hello</p>
      </transition>

      <p v-if="show">Hello</p>

      <button @click="show = !show">Toggle</button>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          show: true
        }
      })
    </script>
  </body>
</html>