<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <script src="https://cdn.bootcss.com/socket.io/2.3.0/socket.io.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="socket.io.js"></script>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <input type="text" v-model="message">
      <input type="button" value="发送" @click="send">
      <!-- <input type="button" value="清除" @click="clear"> -->
    </div>
    <div>
      <ul>
        <li v-for="item in msgList">{{ item }}</li>
      </ul>
    </div>
  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        message: '',
        msgList: [],
      },
      mounted() {
        this.socket = io()
        this.socket.on('chat message', (msg) => {
          console.log(msg)
          console.log(this.socket)
          this.msgList.push(msg)
        })
        this.socket.on('connect', function(data){
          console.log("Socket.io connected...");
        });

        this.socket.on('time', function (data) {
            console.log(data);
        });
        this.socket.on('error', function (data) {
            console.log(data);
        });
      },
      beforeDestroy() {
        this.socket.close()
      },
      methods: {
        async send() {
          try {
            const msg = this.message
            console.log('send msg', msg)
            this.socket.emit('chat message', msg)
            this.message = ''
          } catch(e) {
            console.log(e)
          }
        }
      }
    })
  </script>
</body>
</html>