
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1 v-if="awesome">Vue is awesome!</h1>

      <h1 v-if="awesome">Vue is awesome!</h1>
      <h1 v-else>Oh no </h1>

      <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <div v-if="type === 'A'">A</div>
      <div v-else-if="type === 'B'">B</div>
      <div v-else-if="type === 'C'">C</div>
      <div v-else>Not A/B/C</div>
    </div>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          awesome: true,
          ok: false,
          type: ''
        }
      })
    </script>
  </body>
</html>
